<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <!--<object id="StudentService" type="MyFrameWork.Services.Implement.StudentService, MyFrameWork.Services.Implement"/>-->

  <object name="StudentDao" type="MyFrameWork.Dao.Implement.StudentDao, MyFrameWork.Dao.Implement" singleton="false" />
  
  <object type="MyFrameWork.MvcWeb.Controllers.HomeController, MyFrameWork.MvcWeb" singleton="false">
    <property name="StudentService" ref="StudentService"/>
  </object>

  <object name="StudentService" type="MyFrameWork.Services.Implement.StudentService, MyFrameWork.Services.Implement" singleton="false" >
    <property name="StudentDao" ref="StudentDao" />
  </object>

</objects>